Repository IntelMin/swot-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint, prettier --write

.lintstagedrc.json:

{
  "*.{css,sass,scss,less}": "stylelint --fix",
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{json,ts,tsx,js,jsx,md,scss,less,css,html}": "prettier --write"
}

remove metadoc
  README.md
Due: prettier --write

complete settings section
  src/common/components/Cell/index.module.less
  src/common/components/Drawer/index.module.less
  src/common/components/Drawer/index.tsx
  src/popup/App.module.less
  src/popup/App.tsx
  src/popup/components/Settings/components/ConfigExploresDrawer/index.module.less
  src/popup/components/Settings/components/ConfigExploresDrawer/index.tsx
  src/popup/components/Settings/components/ConfigNFTDrawer/index.module.less
  src/popup/components/Settings/components/ConfigNFTDrawer/index.tsx
  src/popup/components/Settings/components/SupportWebsiteDrawer/index.module.less
  src/popup/components/Settings/components/SupportWebsiteDrawer/index.tsx
  src/popup/components/Settings/index.module.less
  src/popup/components/Settings/index.tsx
Due: stylelint --fix, eslint, prettier --write

complete support chain
  src/common/config/uri.ts
  src/popup/components/Shortcuts/components/SearchResultDrawer/index.module.less
  src/popup/components/Shortcuts/components/SearchResultDrawer/index.tsx
  src/popup/components/Shortcuts/components/SupportChainDrawer/index.module.less
  src/popup/components/Shortcuts/components/SupportChainDrawer/index.tsx
  src/popup/components/Shortcuts/components/index.ts
  src/popup/components/Shortcuts/index.module.less
  src/popup/components/Shortcuts/index.tsx
Due: stylelint --fix, eslint, prettier --write

search section completed
  src/assets/images/onchain_link_square.png
  src/popup/App.module.less
  src/popup/components/Shortcuts/components/SearchResultDrawer/index.module.less
  src/popup/components/Shortcuts/components/SearchResultDrawer/index.tsx
  src/popup/components/Shortcuts/index.module.less
  src/popup/components/Shortcuts/index.tsx
Due: stylelint --fix, eslint, prettier --write

remove enhanced version button and change the logo
  manifest.config.ts
  src/assets/icons/icon128.png
  src/assets/icons/icon16.png
  src/assets/icons/icon32.png
  src/assets/icons/icon48.png
  src/assets/icons/icon64.png
  src/common/components/ModalFundFlow/index.tsx
Due: eslint, prettier --write

change Iconlogo in modal
  src/common/components/ModalFundFlow/index.tsx
Due: eslint, prettier --write

complete fundflow page
  src/assets/images/onchain_award.png
  src/common/components/ModalFundFlow/index.module.less
  src/common/components/ModalFundFlow/index.tsx
  src/content/etherscan/components/FundFlowBtn/index.tsx
  src/popup/components/Shortcuts/components/SupportChainDrawer/index.tsx
Due: stylelint --fix, eslint, prettier --write

update font
  src/common/components/Cell/index.module.less
  src/common/components/ModalFundFlow/index.tsx
  src/popup/components/Brand/index.module.less
  src/popup/components/Brand/index.tsx
  src/popup/components/Settings/components/SupportWebsiteDrawer/index.module.less
  src/popup/components/Settings/components/SupportWebsiteDrawer/index.tsx
  src/popup/components/Settings/index.module.less
  src/popup/components/Shortcuts/components/SearchResultDrawer/index.module.less
  src/popup/components/Shortcuts/components/SupportChainDrawer/index.module.less
  src/popup/components/Shortcuts/index.module.less
Due: stylelint --fix, eslint, prettier --write
